body {
    cursor: default;
}

.card,
img,
button,
.btn,
input[type="file"],
input[type="checkbox"],
table {
    border-radius: 0;
}

.card-main {
    border: 1px solid rgba(0,0,0,.125);
    padding: 0.8rem 0;
}

.nav-link.active {
    background-color: white;
}

.bg-lego {
    background-color: #FFCF00;
}

.navbar a {
    color: black !important;
}

.bg-light {
    background-color: #F2F2F2 !important;
}

.bg-medium {
    background-color: #dedddd !important;
}

.btn-primary {
    background-color: #006DB7;
}

.table-primary {
    background-color: #006DB7;
}

.table.table-header {
    > :not(caption) > * > * {
        background-color: #5c95bc;
        color: white;
    }
}

h1 {
    border-bottom: 2px solid #D5841DFF;
    font-size: 2rem;
    color: #D5841DFF;
    padding-bottom: 3px;
}

.card-body {
    padding-top: 10px;
}

h2 {
    font-size: 1.7rem;
}

.cursor-pointer {
    cursor: pointer;
}
